language: android

jdk:
  - oraclejdk8

before_install:
  # Install SDK license so Android Gradle plugin can install deps.
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" >> "$ANDROID_HOME/licenses/android-sdk-license"
  # Install the rest of tools (e.g., avdmanager)
  - sdkmanager tools

install: ./gradlew build --stacktrace

script:
- ./gradlew check --stacktrace

after_success:
- .buildscript/deploy_snapshot.sh

env:
  global:
  - secure: "SEvacvgp2zIPJN6M41A4GUiw2lAtYb+sFfe4ZdEPDKqpzPaqs6+Gs5i1DIo/yqsBgXnnf7yFRJuFXBzH0lz6OBIgXH+zmTehWpDIcnSd6S7htgtcKeJ8WeWEqZ3KZHLDKXixO4Y/+GLFNJ0AW/Z4Vk3j9DR4aJoU4CdYx0Vdh05vscvXVjIcSwQ74yMZer7RMZuASlAbV8fEueYO71KgkeblLspNfki2+EI0jJp5LbC0TKSpg1J25ZkIQwVK5k6ZMsHyakOmM30ES5QMqLZMaRlWXgra0KVtX8VVfu5qGMxe8qegrf9YPR0yU4G0TLyVlNB98FxZK3h57keATPn1sR0Y1eoEifFradg+h3vIGpzoua1BhkL9BnIwIspQVjJOTfuVZLbdENCBwNUPUJK+kpRGVsvWtYhvyRjv8jwJW2mJI8UmXb1Xf7911kRujphIOQY+lGUSFmYQgrmflu+jTt5buViwt7v/Ijuq6Jv8zuGAz/mR8irKcORhMqz3dXDFzs7XlM4AZ/FHU4iSBQfC4MyFmiQisJg5PnteaVLhur5UBs2+1o8MgeVGUvf+5Dv/wGEZQ4Pys9jRRBdCMFN+18z+JkDuzfrjSawLvIFANQKua3FMl1mnxgU0JMloASxEmSEBhXu//LDgiYGPtomrN3BJKvIUsjFXZfLjl8JzJtk="
  - secure: "Scl4a7kSeV9yfcp2koZ/C4N53Bik3Y4r401LMmhjJKGsXMLr8qVy+TSIN7cezM2ZlQbqoFW+0Oam/PRFZits2uoO6B2e27egBXlqu0SoUMpXR10fgIpwrVWpLWIhNCiblng1GHih2QVrX3Fg3anzRVsZsGPkPDTxowYkZFWTcLpj76mtp56fq+PRJZSPHMdpQ3OCeZyKcMhi3iDblIWGniN7wF0cggo1zRAA1UTA/8ew/XVmrEaGtrwkiOwUBmvPj2L58OicCTvCpNsszlCXEun3UAwB3SPL5+3AvSxrmq62aaN4/BA32qVfV8/a5kr0KkjEuZZAtKzx2v74qoYFk5PvFu01Knj141p0A3c3H342n5l+JOok38+oXDtm+sMtXFI+CswalnZE0nPQRkB5U9b7VUGTF0Q2BW0ixkUPrJX/DGsQoBW+EELAuYIKL8U4G/NmA5Sgp19VWATENvz5pq0yWLZafi/MKOCx7UvzZSDCRzBuA45UD+lsSGrkN0DMltHhyFWd8lV4S1SzdJ+H/ytHUGYJOjiGmF20/uBmr44RG138aC98UyrfRBHmj4ncgh/Ds4SY38oLZN+pV19hpS+N+Kpsqiw+yV7UYXI5bG2H+8Kso2lXGP+CZ9H5FWxiflv3/Wm3CgMrAr3UZ+p9OAQp/cwnsWJVfH6+YeTcEl0="

branches:
  only:
  - master

notifications:
  email: false

cache:
  directories:
  - $HOME/.gradle
