name: RxDogTag CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Configure Gradle
      # Initial gradle configuration, install dependencies, etc
      run: ./gradlew help
    - name: Spot check
      # Run spotless first to fail fast on spotless issues
      run: ./gradlew spotlessCheck --stacktrace
    - name: Build project
      run: ./gradlew assemble --stacktrace
    - name: Run tests
      run: ./gradlew test --stacktrace
    - name: Final checks
      run: ./gradlew check --stacktrace
    - name: Upload snapshot (master only)
      run: ./gradlew uploadArchives -PSONATYPE_NEXUS_USERNAME=${{ secrets.SonatypeUsername }} -PSONATYPE_NEXUS_PASSWORD=${{ secrets.SonatypePassword }}
      if: success() && github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
